.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(34, 118, 34);
}

.heading {
    font-size: 5rem;
    color: gray;
    margin-top: 0;
}

.radio {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 1.5rem;
    gap: 1rem;
    color: orchid;
}

input[type="radio"]:checked + label {
    color: rgb(16, 97, 129);
}